@mixin list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-around;
}

@mixin centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
